<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>418279084586-iai2375o7d25qh902223cksu2jnfq30e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.418279084586-iai2375o7d25qh902223cksu2jnfq30e</string>
	<key>API_KEY</key>
	<string>AIzaSyCGE5gyO52AlwmzVKVy71FwJGJaTQNH-iI</string>
	<key>GCM_SENDER_ID</key>
	<string>418279084586</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.BandarHL.YTDownloader</string>
	<key>PROJECT_ID</key>
	<string>ytdownloader-7f42f</string>
	<key>STORAGE_BUCKET</key>
	<string>ytdownloader-7f42f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<true/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:418279084586:ios:1eb8cdceccedb193</string>
	<key>DATABASE_URL</key>
	<string>https://ytdownloader-7f42f.firebaseio.com</string>
	<key>ADMOB_APP_ID</key>
	<string>ca-app-pub-2502501640180711~2738164978</string>
</dict>
</plist>
